<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="pepe-logo">
          <img src="/pepe.png" width="64" height="64" />
        </a>
        <h2><%= message %></h2>
        <p>
          Repository
          <a href="https://github.com/Gabrieltay/nodeJsRepo"
            >https://github.com/Gabrieltay/nodeJsRepo</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
